@model Ui.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forget Password</h2>
<div id="forget">
@using (Html.BeginForm()) {
  
    @Html.ValidationSummary(true, "Changing Password failed. Please check your login details.");
    <div class="form-group">
        <p>@Html.LabelFor(u => u.Email)
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Email)
        </p>

        <p>@Html.LabelFor(u => u.OldPassword)
            @Html.PasswordFor(u => u.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.OldPassword)
        </p>

        <p>@Html.LabelFor(u => u.Password)
            @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Password)
        </p>

        <p><input type="submit" value="Change Password" class="btn btn-default"/></p>

    </div>

}
</div>